@import url("../node_modules/ol/ol.css");
@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

#map {
  height: 100%;
  width: 100%;
}

#locate {
  background-color: #000;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 18px;
  border: none;
  border-radius: 100%;
  color: aliceblue;
}

#menu {
  position: absolute;
  top: 80px;
  left: 8px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid transparent;
}

#menu:hover {
  border-color: #000 !important;
}

input {
  padding: 10px;
  border-radius: 4px;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
}

.controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  top: 120px;
  left: 10px;
  padding: 10px;
  max-width: 300px;
  animation: slide-in 0.5s ease-in-out;
}

.animate-out {
  animation: slide-out 0.5s ease-in-out;
}

.gap-1 {
  gap: 1rem;
}

.hidden {
  display: none;
}

.slide-in {
  animation: slide-in 0.5s ease-in-out;
}

.slide-out {
  animation: slide-out 0.5s ease-in-out;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .controls {
    width: 300px;
    max-width: 250px;
  }
}
